//League Spartan
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Spartan:wght@700&display=swap");
//DM Sans
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");


//Colors
$light-gray: #e7ecef;
$dark-blue: #274c77;
$blue: #6096ba;
$light-blue: #a3cef1;
$gray: #8b8c89;


body{
    background-image: linear-gradient(#fdfdfd,#a3cef1);
      
    .fade {
    opacity: 1;
    }

    h1{
        font-family:'Spartan';
        padding:10px 0px;
        color:$dark-blue;
    }

    p{
        font-family:'DM Sans';
        padding:10px 0px;
    }

    #header{
        position: fixed;
        width: 100%;
        height: 100px;
        z-index:10;
        .navbar{
            
            height:100px;
            //border:1px solid black;
            background-color: #e7ecef;
            box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);

            .navbar-nav{
                font-family: 'Spartan';
                font-weight: bolder;
                justify-content:end;
                margin-right:30px;
        
                a{
                    color:$dark-blue;
        
                    &:hover{
                        color:$blue;
                    }
        
                }
        
            }
        }
    
        
    }
    
    #page{
        margin:160px 0px 150px 0px;

        .btn{
            background-color: $blue;
            border-color:$blue;
            font-family: 'DM Sans';
            font-weight:bolder;
            color:white;

            &:hover{
                background-color: $dark-blue;
                border-color:$dark-blue;
            }
        }

        .section{
            align-items: center;
            margin-bottom:200px;
        }
      
        .about{
            text-align:right;
        }

        .team{
            justify-content:center;
        }

        // .features{
        //     justify-content:center;
        // }

        .columns{
            text-align:center;
        }
        .pictures{
            padding:20px 0px;
        }

        .extension{
            margin-left:10px;
            justify-content:center;
        }

        .picture{

            img{
                width: 530px;
                height: 313px;
                border-radius: 15px;
                overflow: hidden;
                perspective: 1px;
    
                .image {
                    width: 530px;
                    height: 313px;
                    border-radius: 5%;
                    margin: 0 auto
                }
     
            }

        }

        #team{
            img{
                width: 250px;
                height: 250px;
                border-radius: 5%;
    
                .image {
                    width: 250px;
                    height: 250px;
                    border-radius: 5%;
                    margin: 0 auto
                }
     
            }
            
            .fit-image {
                width: 100%;
                object-fit: cover;
            }

            .image-name {
                font-size:24px;
                font-weight: bold;
                color:$dark-blue;
            }
    
            .socials{
                color:$blue;
    
                &:hover{
                    text-decoration: none;
                    color:$dark-blue;
                }
            }

        }
        
        
        

        
    }
}

